{% if tweets_list %}
    <ul>
    {% for tweet in tweets_list %}
        <li><a href="/ZappyMV/{{ tweets.id }}/">{{ tweets.content }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No tweets are available.</p>
{% endif %}
